<div id="body">

    <div id="map-canvas" style="width: 400px; height: 300px"></div>
    <div id="pano" style="position: absolute; left: 410px; top: 8px; width: 400px; height: 300px;"></div>

</div>
<style>
    html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    div {
        display: inline-block;
    }
</style>
